@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: black";>
    <img src="http://www.ruedaerueda.com.br/img/logo.png" class="img-responsive">
    <p class="lead" style="color: aliceblue">Criatividade, Tecnologia e Análise.</p>
    <p><a style="background-color: orangered" href="http://www.ruedaerueda.com.br/" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>O ESCRITÓRIO</h2>
        <p>
            Somos mais que um simples escritório.
            Somo um time.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Acreditamos nas pessoas</h2>
        <p>Naquelas que trabalham conosco e nas que nos procuram. Então, mais do que um contato entre clientes e advogados, estabelecemos parcerias. Sua causa, nossa causa. Seu sonho, nosso sonho. Nossa vitória, sua satisfação.</p>
    </div>
    <div class="col-md-4">
        <h2>Atuação de Mercado</h2>
        <p>
            Para fazer nosso trabalho de forma mais eficaz possíve, inovamos não apenas no vínculo com nossos paceiros, mas também no modelo de trabalho. Criatividade, tecnologia, análise de comportamento e a crença num Direito mais humano e acessível são estratégias utilizadas todos os dias pela nossa equipe.
        </p>
    </div>
</div>